<div id='secret-page' class='secret-page'>
    <div class='question'>Do you know the secret word?</div>
    <form action='/' method='post' id='lim-form'>
        <label for='secret'>Enter the secret word:</label>
        <input
            id='secret'
            class='secret-input'
            type='text'
            name='secret'
            placeholder='Your secret word'
        />
        <input id='submit' type='submit' value='Check' />
    </form>
    <p id='info' class='secret-info' style='opacity: 0'>info 🥰</p>
</div>

<script type='module' src='js/secret.js'></script>