body {
  /* background: black; */
  color: #dde;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: linear-gradient(180deg, black 80%, #3a0000);
}

.body-container {
  position: relative;
  max-width: 750px;
  /* border: 2px solid black; */
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  padding: 10px 70px;
}

/* MENU */
.menu {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 15px;
  background: #540109;
}

.logo-voices {
  display: flex;
  align-items: center;
}

.voices-box {
  margin-left: 40px;
  margin-top: 5px;
  position: relative;
}

.menu-voices-btn {
  cursor: pointer;
  color: cyan;
  opacity: 0.75;
  font-size: 30px;
  position: absolute;
  top: -23px;
  left: -18px;
}

.menu-voices-btn:hover {
  opacity: 1;
}

.voice-tr-box {
  display: flex;
  margin-top: 2px;
  align-items: center;
}

.use-tr-checkbox {
  scale: 1.8;
  margin-right: 16px;
  margin-bottom: -4px;
}

.voice-setting-box {
  position: absolute;
  top: 30px;
  left: -6px;
  background: black;
  margin-top: 5px;
  padding: 0px 10px 16px;
  border: 2px solid #ccd;
  border-radius: 4px;
  width: 300px;
  z-index: 10;
}

.voice-setting-box-hidden {
  display: none;
}

.not-visible {
  opacity: 0;
}

.close {
  text-align: right;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-right: -2px;
  color: aqua;
  opacity: 0.8;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.volume-box,
.rate-box {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
}

.slider {
  height: 6px;
  width: 60%;
}

.select {
  margin-top: 8px;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
}

.scroll h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #dde;

}

a.active {
  color: #dde;
}

.secret-page {
  transition: opacity 1s ease;
  border: 2px solid;
  padding: 20px 30px;
  border-radius: 10px;
  margin-top: 50px;
}

form :nth-child(2) {
  color: aqua;
}

form :nth-child(6) {
  color: beige;
}

form {
  font-size: 20px;
}

form input {
  padding: 8px 10px;
  font-size: 18px;
}

.question {
  font-size: 26px;
  margin-bottom: 20px;
}

form .secret-input {
  color: black;
}

.secret-info {
  color: green;
  font-size: 20px;
}

.info {
  border-bottom: 1px solid #bbc;
  padding-bottom: 8px;
  font-size: 20px;
  color: beige;
  display: flex;
  justify-content: space-between;
}

.info .left {
  color: #b90707;
  font-size: 24px;
  margin-bottom: 2px;
}

.help {
  font-size: 22px;
  color: aquamarine;
  text-align: center;
  margin-bottom: 20px;
  cursor: default;
}

.hidden {
  opacity: 0;
}

.english,
.translation {
  padding: 30px;
  padding-bottom: 8px;
  font-size: 26px;
  text-align: center;
  cursor: default;
  min-height: 80px;
  line-height: 1.4;
}

.english {
  position: relative;
  color: aqua;
  margin-bottom: 40px;
  border-top: 1px solid #bbc;
}

.english:hover::before {
  content: '🔉';
  position: absolute;
  top: 20px;
  left: 0px;
  color: #bbc;
  font-size: 36px;
}

.lesson-body .buttons {
  text-align: center;
  margin-bottom: 20px;
}

.lesson-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-left: -40px;
  margin-right: -40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lesson-title .exit {
  cursor: pointer;
}

.btn {
  font-size: 26px;
  padding: 5px 8px;
  margin: 0 10px;
  cursor: pointer;
  background: #dde;
}

/* ////////////////// */
/* LESSON LIST */
.list-item {
  border-radius: 6px;
  border: 2px ridge #99a;
  padding: 10px;
  margin-bottom: 12px;
  background: linear-gradient(to right, #363b3d 55%, #000 45%);

}

.list-item[last-lesson] {
  border-color: orange;
}

.list-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

.list-left .demo {
  font-size: 22px;
  padding-right: 16px;
}

.list-left .demo a::before {
  content: 'i';
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background: #007688;
  color: #dde;
  font-size: 22px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 2px;

}

.list-item.in-progress.passed {
  /* background: linear-gradient(to right, rgb(111 0 0) 55%, #018001 45%); */
  background: linear-gradient(to right, #800000 55%, #004934 45%);
}

.list-item.passed {
  /* background: linear-gradient(to right, #014701 55%, #018001 45%); */
  background: linear-gradient(to right, #004934 55%, #000000 45%);

}

.list-item.in-progress {
  background: linear-gradient(to right, rgb(111 0 0) 55%, black 45%)
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson-name {
  font-size: 24px;
}

.list-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.list-item .buttons {
  display: flex;
  align-items: center;

}

.list-btn {
  background: black;
  font-size: 16px;
  padding: 4px 10px;
  margin-left: 10px;
  color: #bbc;
  border: 1px solid #bbc;
  border-radius: 2px;
  cursor: pointer;
}

.list-item .results {
  /* background: #540109; */
  display: block;
  padding: 14px 20px;
  border: 2px ridge #aab;
  margin-top: 10px;
  border-radius: 5px;
}

.list-item .results.hidden {
  opacity: 0;
  display: none;
}

.result {
  margin-bottom: 10px;
  line-height: 1.3;
}

.mark {
  margin-bottom: 16px;
  font-size: 17px;
}

.short-mark {
  font-size: 25px;
  margin-top: -4px;
  margin-left: -10px;
}

.list-item .passed-count {
  padding: 6px 12px;
  border-radius: 50%;
  font-size: 18px;
  background: #7c0101;
}

/* FINISH LESSON */
.finish-container {
  width: 55%;
  margin: auto;
  background: black;
  padding: 16px 30px;
  border-radius: 8px;
  font-size: 20px;
  line-height: 1.5;
  border: 2px solid #aab;
  margin-top: 10%;
  transition: opacity 0.5s ease;
}

.lesson-body {
  transition: opacity .5s;
}

.lesson-body-hidden {
  opacity: 0;
}

.end-lesson-name {
  font-size: 22px;
  margin-left: -8px;
  margin-bottom: 4px;
  color: aqua;
}

.mistakes {
  color: orange;
}

.btn-exit-box {
  text-align: right;
  margin-right: -10px;
  margin-top: 10px;
}

.btn-exit-box a button {
  font-size: 18px;
  width: 75px;
  cursor: pointer;
}

/* OVERLAY FORM */
.overlay-form {
  color: antiquewhite;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Полупрозрачный фон */
  background-color: rgba(0, 0, 0, 0.7);
  /* Устанавливает форму поверх контента */
  z-index: 999;
  display: block;
  backdrop-filter: blur(3px);

  transform: translateY(-250%);

}

.overlay-form.active {
  transform: translateY(0);
}

.overlay-form form {
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;

  margin: auto;
  margin-top: 10%;

  margin-left: -200%;
  transition: all .8s ease-in-out;
}

.overlay-form form.center {
  margin-left: 0;
}

.overlay-form label {
  font-size: 0;
}

.overlay-form .form-buttons {
  text-align: right;
  margin-top: 20px;
}

.overlay-form-input {
  font-size: 22px;
  margin-bottom: 18px;
  border: none;
  background: black;
  border-bottom: 1px solid #bbc;
  color: #dde;
}


.form-buttons {
  cursor: pointer;
}

.form-buttons :first-child {
  color: beige;
  cursor: pointer;
}

.form-buttons :nth-child(2) {
  cursor: pointer;
}

/* DEMO LESSON */
.demo-lesson-box .lesson-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.demo-lesson-box a {
  margin-right: -30px;
}

.demo-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  padding: 0px 15px 14px;
  margin-bottom: 12px;
  border-bottom: 1px solid #aab;
}

.phrases {
  opacity: 0;
  transition: opacity 1s ease;
  width: 100%;
  margin: auto;
}

.phrases.active {
  opacity: 1;
}

.number {
  min-width: 30px;
  text-align: center;
  color: lightyellow;
  font-size: 24px;
}

.demo-item-texts {
  width: 100%;
  margin-left: 20px;
}

.text.eng-text {
  color: aqua;
  margin-bottom: 3px;
}

/* SCROLL */
.scroll {
  width: 100%;
  max-width: 800px;
  padding: 0 36px 0px;
  margin: auto;
  height: 90vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  background-color: inherit;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #334;
  border-radius: 4px;
}

/*ADMIN*/
.admin-page h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.admin-page form {
  border-bottom: 1px solid #dde;
  padding-bottom: 20px;
}

.admin-page input {
  color: #000;
  font-size: 16px;
  padding: 3px;
  background: #dde;
  min-width: 75px;
}

.admin-page h2 {
  font-weight: 400;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.admin-page textarea {
  background: black;
  color: #dde;
  border: 1px solid #dde;
  border-radius: 6px;
  display: block;
  margin: 10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  min-height: 300px;
}



/*End ADMIN*/

/* MEDIA */
@media screen and (max-width: 800px) {
  body {
    background: linear-gradient(140deg, black 17%, #005e62);
  }

  /* MENU */
  .menu {
    position: relative;
    padding: 12px 4px;
    font-size: 16px;
    color: #b5d3cf;
    /* background: linear-gradient(to left, #000 -50%, #540109 50%); */
    background: #233b44;
  }

  .body-container {
    padding: 0px 12px;
    border: none;
    /* max-width: 100%; */
  }

  /* SECRET */
  .secret-page {
    padding: 0px 4px;
    margin-top: 0px;
    background: black;
    border: none;
    line-height: 1.4;
  }

  .secret-page .question {
    font-size: 18px;
    color: aqua;
    margin-bottom: 12px;
  }

  .secret-page form {
    font-size: 17px;
    margin-bottom: 10px;
    border-top: 1px solid;
    padding-top: 10px;
    border-bottom: 1px solid;
    padding-bottom: 12px;
  }

  .secret-page input {
    padding: 0 10px;
    font-size: 17px;
    background: black;
    padding: 3px 10px;
    color: #bbc;
    border: 1px solid #bbc;
  }

  .secret-page .secret-input {
    width: 60%;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    background: black;
    border: 1px solid #bbc;
    color: #ccd;
    padding: 3px 8px;
    margin-right: 10px;
  }

  .secret-page .secret-info {
    margin: 0;
    font-size: 18px;
    color: aquamarine;
  }

  /* LIST */
  h1 {
    margin: 0 0 15px;
    font-size: 21px;
    color: gold;
  }

  .list-item {
    position: relative;
    border-radius: 4px;
    border: 2px ridge #99a;
    padding: 8px;
    margin-bottom: 16px;
    background: linear-gradient(to left, #000 20%, #363b3d 50%);
  }

  .list-item.in-progress {
    background: linear-gradient(to left, #000 20%, #800000 50%);
  }

  .list-item.in-progress.passed {
    background: linear-gradient(to left, #004934 20%, #800000 50%);
  }

  .list-item.passed {
    background: linear-gradient(to left, #004934 20%, #000 50%);

  }

  .list-item .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 52px;
  }

  .list-item .lesson-name {
    font-size: 18px;
  }

  .list-item .results {
    display: block;
    padding: 12px 16px;
    border: 1px ridge #aab;
    margin-top: 10px;
    border-radius: 2px;
  }

  .list-left {
    display: flex;
    width: 100%;
  }

  .list-left .demo {
    font-size: 0;
    position: absolute;
    top: 34px;
    right: 152px;
    z-index: 10;
  }

  .list-left .demo a::before {
    content: 'i';
    display: flex;
    justify-content: center;
    font-weight: bold;
    background: #018397;
    color: white;
    font-size: 21px;
    width: 26px;
    line-height: 26px;
    height: 26px;
    border-radius: 50%;
  }

  .list-item .passed-count {
    position: absolute;
    top: 0px;
    padding: 2px 8px;
    border-radius: 2px;
    font-size: 16px;
    background: maroon;
    left: 0px;
    border: 1px solid #bbc;
  }

  .list-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .list-item .buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .list-btn {
    width: 70px;
    font-size: 16px;
    padding: 2px 4px;
    background: black;
    color: #ccd;
    border: 1px solid #aab;
  }

  .short-mark {
    position: absolute;
    font-size: 21px;
    right: 0;
    top: -33px;
  }

  /* LESSON */
  .lesson-body {
    padding: 0px 10px;
    /* border-bottom: 1px solid; */
    height: 75vh;
    background: transparent;
    width: 95%;
    margin: auto;
  }

  .lesson-title {
    font-size: 23px;
    margin-left: -5px;
    margin-right: -7px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .lesson-title a {
    font-size: 18px;
    margin-top: -10px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 6px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-size: 18px;
    color: #bbc;
  }

  .info .left {
    color: #e30d0d;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: -5px;
  }

  .english,
  .translation {
    padding: 10px 0 0;
    font-size: 22px;
    min-height: 70px;
  }

  .english {
    border-top: 1px solid #aab;
    border-bottom: 1px solid #aab;
    font-size: 22px;
    padding-bottom: 12px;
    min-height: 82px;
  }

  .english:hover::before {
    top: 8px;
    left: 0px;
    font-size: 28px;
  }

  .help {
    font-size: 20px;
  }

  .lesson-body .buttons {
    position: absolute;
    left: 0;
    /* transform: translateX(50%); */
    bottom: 0;
    width: 100%;
  }

  .btn {
    font-size: 26px;
    padding: 5px 8px;
    margin: 0 16px;
    cursor: pointer;
    background: black;
    border: 2px solid #bbc;
    color: #bbc;
    border-radius: 4px;
  }

  /* VOICES */
  .voices-box {
    position: static;
  }

  .menu-voices-btn {
    cursor: pointer;
    color: cyan;
    opacity: 0.75;
    font-size: 30px;
    position: absolute;
    top: 2px;
    left: 136px;
  }

  .voice-setting-box {
    top: 46px;
    margin-top: 5px;
    padding: 4px 10px 18px;
    border: 2px solid #aab;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    background: #0d3747;
  }

  .volume-box {
    font-size: 17px;
  }

  .slider {
    width: 70%;
  }

  /* END LESSON */
  .finish-container {
    width: 74%;
    margin: auto;
    background: transparent;
    padding: 11px 23px;
    border-radius: 6px;
    font-size: 20px;
    line-height: 1.5;
    border: 2px solid #aab;
    position: absolute;
    left: -50%;
    left: 50%;
    top: 6%;
    transform: translateX(-50%);
  }

  .btn-exit-box a button {
    font-size: 16px;
    width: 65px;
  }

  /* SCROLL */
  .scroll {
    padding: 0;
    height: 87vh;
  }

  .scroll::-webkit-scrollbar {
    width: 0;
    background-color: inherit;
  }

  .scroll h1 {
    margin-bottom: 16px;
    font-size: 22px;
    color: #bbc;
  }

  /* DEMO */
  .demo-page {
    background: black;
  }

  .demo-lesson-box .lesson-title {
    margin-bottom: 10px;
  }

  .lesson-title a {
    font-size: 20px;
    margin-top: -12px;
    margin-right: 1px;
    color: darkturquoise;
  }

  .demo-lesson-box h2 {
    padding-left: 10px;
    font-size: 20px;
    color: #eef;
  }

  .demo-item {
    font-size: 18px;
    padding: 0px 0px 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid #aab;
  }

  .text.eng-text {
    color: aqua;
    margin-bottom: 6px;
  }

  .number {
    min-width: 10px;
    font-size: 20px;
  }
}

/* MEDIA MAX-HEIGHT 400px*/
@media screen and (max-height: 400px) {

  .menu,
  .lesson-title,
  .info {
    display: none;
  }

  .lesson-body {
    height: 90vh;
  }

  .lesson-body .buttons {
    display: flex;
    justify-content: space-between;
  }

  .english {
    border-bottom: none;
    padding-top: 16px;
  }
}